<% content_for :header do %>
	<%= stylesheet_link_tag "jquery.fancybox-1.3.1", "product", :cache => true %>
	
	<%= javascript_include_tag "jquery.fancybox-1.3.1", "flowplayer-3.2.2.min", 'product', "easySlider1.7" %>
	
	<script type="text/javascript">
		var current_user = <%= !session["current_username"].nil? %>;
		
		$(function() {
			$("#try-it-free-btn").click(function() {
				download_btn_click(
					"Marketware Free Trial", 
					"http://marketware.com.s3.amazonaws.com/files/marketware_setup.exe", 
					"free_trial")
			});
		})
	</script>
<% end -%>

<div class="page-header">
	<h2 class="grid_4 alpha">Custom Healthcare CRM</h2>
	
	<%= render :partial => 'nav' %>

</div>

<div style="display:none">
	<div id="demo-register-form" class="margin-md fancybox-content">
		<h5>Please enter your contact information:</h5>
		<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "custom_crm", :response_type => "product_demo"} %>
		<p>To view the demo video, we ask that you provide your contact information so we can contact you to answer further questions.</p>
	</div>
</div>

<div style="display:none">
	<div id="trial-register-form" class="margin-md fancybox-content">
		<h5>Please enter your contact information.</h5>
		<p>We will contact you with instructions to download your trial of MarketWare.</p>
		<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_relations", :response_type => "try_it_free"} %>
	</div>
</div>

<a id="thank_you_link" href="#thank_you" class="fancybox" style="display:none">&nbsp;</a>
<div style="display:none">
	<div id="thank_you" class="margin-md fancybox-content">
		<h5>Thank you.</h5>
		<p>One of our consultants will contact you to answer any questions you may have.</p>
	</div>
</div>

<div class="product-main content-box grid_12 alpha omega">
	<div class="content-box-inset">
		<div class='margin-md'>
			<div id="demo" class="product-content">
				<div class="product-demo grid_6 suffix_1 alpha">
					
					<%= image_tag "computer_crowd.jpg", :alt => "Custom Healthcare CRM" %>

					<div class="product-call-to-action-buttons">
						<%= mail_to "sales@marketware.com", "<span>Request Web Demo</span>", {:subject => "I'd like to request a MarketWare web demo", :class => "btn-orange"} %>
					
						<%= link_to "<span>Try it Free</span>", "#trial-register-form", :class => "btn-yellow register_user", :id => "try-it-free-btn" %>
					</div>
				</div>
		
				<div class="product-calls-to-action grid_4 omega">
					<div id="demo-register-form" class="">
						<h5>Learn more about MarketWare's Custom Healthcare CRM</h5>
						<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_relations", :response_type => "product_demo"} %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="product-main small-content-box grid_8 alpha">
	<div class="content-box-inset">
		<div class='margin-md'>
		  	<H2>Custom Healthcare CRM</H2>
			<ul class="mktwr-list boxed-list right">
				<li>Physician Relations</li>
				<li>Physician Recruiting</li>
				<li>Referral Call Center</li>
				<li>Custom Screens</li>
			</ul>
			<p>MarketWare's Custom Healthcare CRM is the complete database for managing relationships with physicians. Bring all the key areas of a healthcare organization together to improve referral growth, recruiting, and retention.
			</p>

			<H6><strong>Physician Relations</strong></H6>
			<%= image_tag "physician_relations_thumb.jpg", :class => "img-left", :alt => "physician relations" %>
			<p>Physician Relations is central to managing physician relationships. MarketWare's Custom Healthcare CRM includes everything that is in the Physician Relations CRM. View physician contact information, history, referral statistics, issue resolution, and more. <%= link_to "See more...", :physician_relations %>
			</p>
			
			<H6><strong>Physician Recruiting</strong></H6>
			<%= image_tag "physician_recruiting_thumb.jpg", :class => "img-left", :alt => "physician recruiting" %>
			<p>Physician Recruiting provides everything a Recruiter needs to track the recruiting process from the beginning at sourcing to on-boarding and retention. Tailor the recruiting piece to a Recruiter's unique process. <%= link_to "See more...", :physician_recruiting %></p>

			<H6><strong>Referral Call Center</strong></H6>
			<%= image_tag "physician_referral_call_center.jpg", :class => "img-left", :alt => "physician referral call center" %>
			<p>The Referral Call Center provides the tools to capture patient referrals and assign them to appropriate physicians. Have all the physician history and demographic information to make the Referral Call Center seamless and efficient.</p>
			
			<H6><strong>CME Management</strong></H6>
			<p>Manage events and CMEs within MarketWare. See who is attending what CMEs, and the effects of each CME and event attendance on referral growth. Track all expenses by physician within CMEs and events attended</p>

			<H6><strong>Employer Relations</strong></H6>
			<p>Manage other activities your hospital or clinic is doing. These activities may include working with local businesses or government organizations. Custom new screens to unique and specialized processes.</p>

			<%= mail_to "sales@marketware.com", "Request a Quote", {:subject => "I'd like a quote on MarketWare's services"} %> <!--| mailto link to info@marketware.com subject: Quote Request -->
			|
			<%= link_to "Customize It", 	{:controller => :custom_crm, :action => :customize} %>
			|
			<%= link_to "Reporting",		{:controller => :custom_crm, :action => :reporting} %>

		</div>
	</div>
</div>

<div class="boxless-content grid_4 omega">
	<div class="margin-md">
	<div id="slideshow" class="testimonials wide">
		<ul>
			<%= render :partial => 'shared/testimonials' %>
		</ul>
	</div>
	</div>
	<div class="margin-md">	
		<%= render :partial => 'shared/white_papers' %>
	</div>
	<div class="margin-md">
		<H3>Interesting Articles</H3>
		<ul>
			<li><%= link_to "Four Innovative Ways to Market Physicians","http://www.marketwarecrm.com/files/TheFourInnovativeWays%20toMarket%20Physicians.pdf" %></li>
               		<li><%= link_to "Creating Referrals through Credibility","http://www.marketwarecrm.com/files/creatingcredibility.pdf" %></li>
               		<li><%= link_to "Establishing Physician Loyalty","http://www.marketwarecrm.com/files/EstablishingPhysicianRelationsTrust.pdf" %></li>
			<li><%= link_to "Physician Relations Strategies Blog","http://www.physicianrelationshipsc.com." %></li>
		</ul>
	</div>
</div>
