<% content_for :header do %>
	<style type="text/css">
		.success_stories {
			list-style-type:none;
		}
		.success_stories li {
			margin:0;padding:0;
		}
	</style>
<% end -%>

<div class="grid_8 alpha omega prefix_2 suffix_2">
<p>
	<h2>Success Stories</h2>

	<ul class="success_stories">
		<li>
		    <%= render :partial => "shared/el_camino_hospital" %>
		</li>
		<li><hr /></li>
		<li>
		    <%= render :partial => "shared/hoag_hospital" %>
		</li>
		<li><hr /></li>
		<!-- <li>
		    <%= render :partial => "shared/karmanos_cancer_institute" %>
		</li> -->
		<li>
		    <%= render :partial => "shared/southeast_missouri_hospital" %>
		</li>
		<hr />
		<li>
			<%= render :partial => "shared/brooks_rehab" %>
		</li>
	</ul>
</div>