<div class="content-box-inset">
	<div class='content-trio margin-md'>
		<H5>MarketWare’s Physician Relations CRM</H5>
		<%= image_tag "physician_referral_growth.png", :class => "img-left", :alt => "physician referral growth" %>
	  	<p>MarketWare's Physician Relations CRM is the complete physician relationship management database. Manage all the key areas of Physician Relations: Physician Demographics, Liaison visits, Referral Statistics, Physician Issues, Marketing Campaigns, Physician Segments, and much more.</p>
		<ul class="mktwr-list boxed-list right">
			<li>Identify Referral Opportunities</li>
			<li>Red Flag Physicians</li>
			<li>Physician Issue Resolution</li>
			<li>Microsoft Outlook/ Mobile integration</li>
		</ul>
		<%= link_to "Learn More...", physician_relations_path %>
	</div>
	<div class='content-trio margin-md'>
		<H5>Physician Recruiting </H5>
		<%= image_tag "physician_recruiting_issues.png", :class => "img-left", :alt => "physician recruiting" %>
		<p>MarketWare's Physician Recruiting manages each stage in the recruiting process. Take a potential recruit successfully through each phase of the recruiting process. Sourcing: Identify qualified candidates, and manage their CV and phone interview. Site Visit: Track travel requirements, cost, and site visit interviews. On-Boarding and Retention: Once hired, track all the on-boarding checklist including: 30 Day interviews: Physician Liaison, Physician Recruiter, and Administrator checklists.</p>
		<ul class="mktwr-list boxed-list right">
			<li>Sourcing</li>
			<li>Site Visit</li>
			<li>On-Boarding</li>
			<li>Retention</li>
		</ul>
		<%= link_to "Learn More...", physician_recruiting_path %>
	</div>
	<div class='content-trio wide-image margin-md'>
		<H5>Custom Healthcare CRM</H5>
		<%= image_tag "physician_relationship_management.png", :class => "img-left", :alt => "physician relationship managment" %>
		<p>MarketWare's Custom Healthcare CRM is designed to be the complete database for a healthcare organization's physician relationship needs. The Custom Healthcare CRM includes: Physician Relationship Management, Physician Recruiting, Physician Referral Call Center, Employer Relations, CME Management, Contract tracking, and much more. The Custom Healthcare CRM provides an immediate ROI by streamlining the physician relationship process. By having one complete physician relationship database, an entire organization can move each physician relationship forward.</p>
		<ul class="mktwr-list boxed-list right">
			<li>Physician Relations</li>
			<li>Physician Recruiting</li>
			<li>Referral Call Center</li>
			<li>Custom Screens</li>
		</ul>
		<%= link_to "Learn More...", custom_crm_path %>

	</div>
</div>