<% remote_form_for(user_form, :url => {:action => :create, :controller => :users}) do |f| %>
  <%= f.error_messages %>

<%= hidden_field_tag "response_type", response_type %>

<%= hidden_field_tag "related_product", product %>

<%= hidden_field_tag "download_url", "" %>

	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :company %>
		<%= f.text_field :company %>
	</p>
	<p>
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</p>
	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :number_of_users %>
		<%= f.select :number_of_users, options_for_select(["1-5 Users", "6-15 Users", "16-50 Users", "50+ Users"]) %>
	</p>
	<p>
		<%= f.label :interest_level %>
		<%= f.select :interest_level, options_for_select(["Very Interested", "Interested", "Browsing", "Not Interested"]) %>
	</p>
	<p>
		<%= f.label :time_range %>
		<%= f.select :time_range, options_for_select(["Immediately", "Next Three Months", "Next Six Months", "Next Year", "Not Interested"]) %>
	</p>
	<hr />
  <p class="submitter">
    <%= f.submit 'Submit' %>
  </p>
<% end %>