<% remote_form_for(user_form, :url => {:action => :create, :controller => :users}) do |f| %>
  <%= f.error_messages %>

<%= hidden_field_tag "response_type", response_type %>

<%= hidden_field_tag "related_product", product %>

<%= hidden_field_tag "download_url", "" %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :company %>
    <%= f.text_field :company %>
  </p>
  <p>
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
	<hr />
  <p class="submitter">
    <%= f.submit 'Submit' %>
  </p>
<% end %>