<!-- "Video For Everybody" v0.4.1 by Kroc Camen of Camen Design <camendesign.com/code/video_for_everybody>
     =================================================================================================================== -->
<!-- first try HTML5 playback: if serving as XML, expand `controls` to `controls="controls"` and autoplay likewise       -->
<!-- warning: playback does not work on iPad/iPhone if you include the poster attribute! fixed in iOS4                   -->
<div style="display:none">
<video id="<%= elem_id %>" controls>
	<!-- MP4 must be first for iPad! -->
	<source src="<%= demo_url[:mp4] %>"  type="video/mp4"  /><!-- WebKit video    -->
	<source src="<%= demo_url[:oog] %>"  type="video/ogg"  /><!-- Firefox / Opera -->
	<!-- fallback to Flash: -->
	<object width="640" height="384" type="application/x-shockwave-flash" data="/mediaplayer.swf">
		<!-- Firefox uses the `data` attribute above, IE/Safari uses the param below -->
		<param name="movie" value="/mediaplayer.swf" />
		<param name="flashvars" value="autostart=false&amp;image=poster.jpg&amp;file=<%= demo_url[:mp4] %>" />
		<!-- fallback image -->
		<img src="<%= demo_url[:img] %>" width="640" height="360" alt="MarketWare Physician Relationship Management"
		     title="No video playback capabilities, please download the video below" />
	</object>
</video>
</div>
