<% content_for :header do %>
	<%= stylesheet_link_tag "jquery.fancybox-1.3.1", "product", :cache => true %>

	<%= javascript_include_tag "flowplayer-3.2.2.min", :cache => true %>
	<%= javascript_include_tag "jquery.fancybox-1.3.1", 'product', "easySlider1.7" %>
	
	<script type="text/javascript">
		var current_user = <%= !session["current_username"].nil? %>;
	
		$(function() {
			$("#marketware_10_download").click(function() {
				download_btn_click(
					"MarketWare 10 Download", 
					"http://marketwarecrm.com/files/marketware10_setup.exe", 
					"marketware_download")
			});
		})
</script>
<% end -%>
<h1 class="grid_7 alpha">MarketWare Client Support</h1>
<div class="grid_4 omega">
<p>Not finding what you're looking for?<br />
	<%= link_to "Contact Support", contact_path %>
	or
	Call us: 1-800-777-6368
</p>
</div>
<div class="grid_5 alpha">
	<h5>MarketWare Downloads</h5>

	<ul>
		<li><a href="www.marketware.com/files/marketware_setup.exe">MarketWare Version 9</a></li>
		<li><a href="www.marketware.com/files/mwupdate9.exe">MarketWare Version 9 Update</a></li>
		<li><a href="#download-register-form" id="marketware_10_download" class="register_user">MarketWare Version 10</a></li>
	</ul>
	<div style="display:none">
		<div id="download-register-form" class="margin-md fancybox-content">
			<h5>Contact Information:</h5>
			<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_relations", :response_type => "product_demo"} %>
		</div>
	</div>
	<a id="thank_you_link" href="#thank_you" class="fancybox" style="display:none">&nbsp;</a>
	<div style="display:none">
		<div id="thank_you" class="margin-md fancybox-content">
			<h5>Thank you.</h5>
			<p>One of our consultants will contact you with instructions to download MarketWare 10.</p>
		</div>
	</div>
	
	<h6>Other Downloads</h6>
	<ul>
		<li><a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=0856eacb-4362-4b0d-8edd-aab15c5e04f5&displaylang=en">Microsoft .NET Framework 2.0</a></li>
		<li><a href="http://www.microsoft.com/Sqlserver/2005/en/us/express-down.aspx#SP3">SQL Server 2005 Express</a></li>
		<li><a href="http://www.microsoft.com/Sqlserver/2005/en/us/express-down.aspx#SP3">Microsoft SQL Server Management Studio Express</a></li>
		<li><a href="https://www1.gotomeeting.com/island/download.tmpl?Portal=www.gotomeeting.com">GoToMeeting.com Software</a></li>
	</ul>
</div>

<div class="grid_5 prefix_1 omega">
	<h6>Training Videos</h6>
	<ul>
		<li><a href="http://marketwarecrm.com/files/training_videos9.html">MarketWare 9 Training Videos</a></li>
		<li><a href="http://marketwarecrm.com/files/training_videos.html">MarketWare 10 Training Videos</a></li>
	</ul>
	
	<h6>Documentation</h6>
	<p><string>MarketWare Version 10</string></p>
	<ul>
		<li><a href="http://www.marketwarecrm.com/files/marketware10_user_manual.pdf">MarketWare 10 User Manual</a></li>
		<li><a href="http://marketware.com.s3.amazonaws.com/files/technical_review_faqs.pdf">Technical Review &amp; FAQs</a></li>
		<li><a href="http://marketware.com.s3.amazonaws.com/files/marketware_brochure.pdf">MarketWare Brochure</a></li>
		<li><a href="http://marketware.com.s3.amazonaws.com/files/marketware_statistics.pdf">Statistics: The GPS of your Facility</a></li>
	</ul>
</div>