<% content_for :header do %>
	<%= stylesheet_link_tag "home" %>
	<%= stylesheet_link_tag "jquery.fancybox-1.3.1" %>
	
	<%= javascript_include_tag "jquery.fancybox-1.3.1", "flowplayer-3.2.2.min", "easySlider1.7", "jquery.qtip-1.0.0-rc3.min" %>

	<script type="text/javascript">
	$(function() {
		if ($("#slideshow")) {
			$("#slideshow").easySlider({
				auto:true,
				continuous:true,
				speed:300,
				pause:6000
			});
		}
		$("#success-stories img.mary_dybdahl").qtip({
			content: {text: '<h5>El Camino Hospital</h5>Mountain View, CA'},
			position: {corner: {target: 'topRight',tooltip: 'middleLeft'}},
			style: {width:{min:200, max:550}}
		});
		$("#success-stories img.michael_padova").qtip({
			content: {text: '<h5>Hoag Memorial Hospital Presbyterian</h5>Newport Beach, CA'},
			position: {corner: {target: 'topRight',tooltip: 'middleLeft'}},
			style: {width:{min:200, max:550}}
		});
		$("#success-stories img.michael_delgado").qtip({
			content: {text: '<h5>Southeast Missouri Hospital</h5>Cape Girardeau, MO'},
			position: {corner: {target: 'topRight',tooltip: 'middleLeft'}},
			style: {width:{min:200, max:550}}
		});
		
		$(".register_user, .demo, .trial").fancybox({
			'scrolling'		: 'no',
			'titleShow'		: false,
			'overlayOpacity'	: 	.65,
			'overlayColor'		: 	'#000',
			'width'			:380,
			'height'		:285,
			'hideOnContentClick'	: false
		});
		
		$(".btn-gray").click(function() {
			var prod_id = this.id.substring(this.id.lastIndexOf("-")+1);
			$("#response_type_"+prod_id).val("try_it_free")
		});
	})
	
	function showDemo(prod_id) {
		$("#demo-video-show-" + prod_id).fancybox({
			'scrolling'		: 'no',
			'titleShow'		: false,
			'overlayOpacity'	: 	.65,
			'overlayColor'		: 	'#000',
			'width'			:380,
			'height'		:285
		});
		$("#demo-video-show-" + prod_id).click();
	}
	
	</script>
<% end %>
<div id="home-banner">
	<div class="tagline">Referral Growth. Recruit. Retain.</div>

	<!-- ==================================================================== -->
	<!-- = Physician Relations: links to demo, trial, and product info page = -->
	<!-- ==================================================================== -->
	<div id="physician_relations" class="product">
		<h2><%= link_to "Physician Relations", physician_relations_path, :class => "overview-link" %></h2>

		<div class="about-product">
			<p class="description">Complete Physician Relations CRM: Physician Referral Growth, Retention, Physician Liaison visits, Healthcare marketing and more.  </p>

			<div id="physician_relations_wrapper" class="demo-video">
				<!-- <a href="<%= @relations_demo_link_url %>" class="btn-yellow demo" id="physician_relations_demo"><span>View Demo</span></a> -->
				<%= link_to "<span>View Demo</span>", physician_relations_path, :class => "btn-yellow" %>
			</div>
		
			<!-- this will install flowplayer inside previous A- tag. -->
			<script>
				flowplayer("player1", "/flowplayer-3.2.2.swf");
			</script>
			
			<a href="<%= @physician_relations_trial_url %>" id="try_it_physician_relations" class="btn-gray trial"><span>Free Trial</span></a>
		
			<%= link_to "Learn More", physician_relations_path, :class => "txt-link" %>
		
		</div>
		<div style="display:none">
			<div id="relations-demo-video">
			<!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
			<a  
				 href="http://marketware.com.s3.amazonaws.com/videos/demo_relations.mp4"  
				 style="display:block;width:800px;height:600px"
				 id="player1"> 
			</a>
			</div>
		</div>
		
		<!-- User Registration Form for the Physician Relations product -->
		<div style="display:none">
			<div id="user_form_box_physican_relations" class="margin-md fancybox-content">
				<h5>Please enter your contact information:</h5>
				<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_relations", :response_type => "product_demo"} %>
				<p>To view the demo video, we ask that you provide your contact information so we can contact you to answer further questions.</p>
			</div>
		</div>
		
		<div style="display:none">
			<div id="trial-register-form-physician-relations" class="margin-md fancybox-content">
				<h5>Please enter your contact information.</h5>
				<p>We will then email you instructions to download your trial of MarketWare.</p>
				<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_relations", :response_type => "try_it_free"} %>
			</div>
		</div>
	</div>
	
	<!-- ===================================================================== -->
	<!-- = Physician Recruiting: links to demo, trial, and product info page = -->
	<!-- ===================================================================== -->
	<div id="physician_recruiting" class="product">
		<h2><%= link_to "Physician Recruiting", physician_recruiting_path, :class => "overview-link" %></h2>
		<div class="about-product">
			<p class="description">Physician Recruiting: Sourcing, Site Visit Preparation, On-boarding and Retention – Integrate with Physician Relations CRM.</p>
		<div id="physician_recruiting_wrapper" class="demo-video">
			<!-- <a href="<%= @recruiting_demo_link_url %>" class="btn-yellow demo" id="physician_recruiting_demo"><span>View Demo</span></a> -->
			<%= link_to "<span>View Demo</span>", physician_recruiting_path, :class => "btn-yellow" %>
		</div>
		
		<a href="<%= @physician_recruiting_trial_url %>" id="try_it_physician_recruiting" class="btn-gray trial"><span>Free Trial</span></a>
		
		<%= link_to "Learn More", physician_recruiting_path, :class => "txt-link" %>
		</div>
		<div style="display:none">
			<div id="recruiting-demo-video">
			<!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
			<a  
				 href="http://marketware.com.s3.amazonaws.com/videos/demo_recruiting.mp4"  
				 style="display:block;width:800px;height:600px"
				 id="player2"> 
			</a>
			</div>
		</div>
		<!-- this will install flowplayer inside previous A- tag. -->
		<script>
			flowplayer("player2", "/flowplayer-3.2.2.swf");
		</script>

		<!-- User Registration Form for the Physician Recruiting product -->
		<div style="display:none">
			<div id="user_form_box_physican_recruiting" class="margin-md fancybox-content">
				<h5>Please enter your contact information:</h5>
				<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_recruiting", :response_type => "product_demo"} %>
				<p>To view the demo video, we ask that you provide your contact information so we can contact you to answer further questions.</p>
			</div>
		</div>
		
		<div style="display:none">
			<div id="trial-register-form-physician-recruiting" class="margin-md fancybox-content">
				<h5>Please enter your contact information.</h5>
				<p>We will then email you instructions to download your trial of MarketWare.</p>
				<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_recruiting", :response_type => "try_it_free"} %>
			</div>
		</div>
		
	</div>
	
	<!-- =========================================================== -->
	<!-- = Custom CRM: links to demo, trial, and product info page = -->
	<!-- =========================================================== -->
	<div id="custom_crm" class="product">
		<h2><%= link_to "Completely Custom CRM", custom_crm_path, :class => "overview-link" %></h2>
		<div class="about-product">
			<p class="description">Customize your CRM around your Physician Relations process - Physician Referral Call Center, Event/CME Management, etc.</p>
			<div id="custom_crm_wrapper" class="demo-video">
				<!-- <a href="<%= @custom_demo_link_url %>" class="btn-yellow demo" id="custom_crm_demo"><span>View Demo</span></a> -->
				<%= link_to "<span>View Demo</span>", custom_crm_path, :class => "btn-yellow" %>
			</div>
		
			<a href="<%= @custom_crm_trial_url %>" id="try_it_custom_crm" class="btn-gray trial"><span>Free Trial</span></a>
		
			<%= link_to "Learn More", custom_crm_path, :class => "txt-link" %>
		</div>
		<div style="display:none">
			<div id="custom-demo-video">
			<!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
			<a  
				 href="http://marketware.com.s3.amazonaws.com/videos/demo_custom.mp4"  
				 style="display:block;width:800px;height:600px"
				 id="player3"> 
			</a>
			</div>
		</div>
		<!-- this will install flowplayer inside previous A- tag. -->
		<script>
			flowplayer("player3", "/flowplayer-3.2.2.swf");
		</script>
		
		<!-- User Registration Form for the Custom CRM product -->
		<div style="display:none">
			<div id="user_form_box_custom_crm" class="margin-md fancybox-content">
				<h5>Please enter your contact information:</h5>
				<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "custom_crm", :response_type => "product_demo"} %>
				<p>To view the demo video, we ask that you provide your contact information so we can contact you to answer further questions.</p>
			</div>
		</div>

		<div style="display:none">
			<div id="trial-register-form-custom-crm" class="margin-md fancybox-content">
				<h5>Please enter your contact information.</h5>
				<p>We will then email you instructions to download your trial of MarketWare.</p>
				<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "custom_crm", :response_type => "try_it_free"} %>
			</div>
		</div>
	</div>
		

</div>

<div class="info grid_16 alpha omega">
	<p>
		Each Healthcare CRM solution can be integrated with each other to create a Complete Physician Database for your healthcare Organization.
	</p>
</div>

<!-- =================== -->
<!-- = Success Stories = -->
<!-- =================== -->
<div id="success-stories" class="grid_8 alpha">
	
	<h3>Healthcare CRM Clients</h3>
	
	<%= image_tag "ss_elcamino.gif", :class => "mary_dybdahl" %>
	<%= image_tag "ss_Hoag.png", :class => "michael_padova"  %>
	<%= image_tag "ss_SoutheastMissouriHospital.jpg", :class => "michael_delgado"  %>
	<%= image_tag "brookshealth.png" %>
	
	<div>
		<%= link_to "more success stories &hellip;", success_stories_path %>
	</div>
</div>

<!-- ================ -->
<!-- = Testimonials = -->
<!-- ================ -->
<div id="home-testimonials" class="testimonials grid_4 omega">
	<div id="slideshow">
		<ul>
			<%= render :partial => 'shared/testimonials' %>
		</ul>
	</div>
</div>

<div class="sub-nav grid_6 omega left-align">
<p><strong>
Click Here to Sign Up >>

<%= mail_to "info@marketware.com", "Physician Relations Newsletter", {:subject => "Please sign me up for the Physician Relations Newsletter"} %> <!-- mailto link to info@marketware.com subject: request for information -->
</strong></p>
</div>

<div class="product-main content-box grid_12 alpha">
	<%= render :partial => 'shared/sections_overview' %>
</div>


