<div class="nav grid_8 omega">
		<%= link_to "Product Demo",		{:controller => :physician_recruiting} %> |
		<%= link_to "Customize It", 	{:controller => :physician_recruiting, :action => :customize} %> |
		<%= link_to "Reporting",		{:controller => :physician_recruiting, :action => :reporting} %> |
		<%= link_to "Technical Specs",	{:controller => :physician_recruiting, :action => :tech_specs} %> |
		<%= link_to "White Papers", white_papers_path %>
	</div>