<% content_for :header do %>
	<%= stylesheet_link_tag "jquery.fancybox-1.3.1", "product", :cache => true %>
	
	<%= javascript_include_tag "flowplayer-3.2.2.min", :cache => true %>
	<%= javascript_include_tag "jquery.fancybox-1.3.1", 'product', "easySlider1.7" %>
	
	<script type="text/javascript">
		var current_user = <%= !session["current_username"].nil? %>;
		
		$(function() {
			$("#try-it-free-btn").click(function() {
				download_btn_click(
					"Marketware Free Trial", 
					"http://marketware.com.s3.amazonaws.com/files/marketware_setup.exe", 
					"free_trial")
			});
		})
	</script>
<% end -%>

<div class="page-header">
	<h2 class="grid_4 alpha">Physician Recruiting</h2>
	
	<%= render :partial => 'nav' %>

</div>

<div style="display:none">
	<div id="demo-register-form" class="margin-md fancybox-content">
		<h5>Please enter your contact information:</h5>
		<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_recruiting", :response_type => "product_demo"} %>
		<p>To view the demo video, we ask that you provide your contact information so we can contact you to answer further questions.</p>
	</div>
</div>

<div style="display:none">
	<div id="trial-register-form" class="margin-md fancybox-content">
		<h5>Please enter your contact information.</h5>
		<p>We will then email you instructions to download your trial of MarketWare.</p>
		<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_recruiting", :response_type => "try_it_free"} %>
	</div>
</div>

<div style="display:none">
	<div id="free_trial_thank_you" class="margin-md">
		<h5>Thank You</h5>
		<p>You should recieve an email containing instructions to download your trial.</p>
	</div>
</div>

<div class="product-main content-box grid_12 alpha omega">
	<div class="content-box-inset">
		<div class='margin-md'>
			<div id="demo" class="product-content">
				<div class="product-demo grid_5 suffix_1 alpha">
					<div id="demo-couplet">
						<!-- <img src="http://marketware.com.s3.amazonaws.com/Pictures/holding-img.jpg" class="holding-img"> -->

						<a id="physician_recruiting_demo" href="#demo-register-form" class="demo">
							<img id="holding-img" alt="Marketware Demonstration" src="/images/demo-physician-recruiting-first-frame.gif" />
						</a>
						
						<div style="display:none">
							<div id="recruiting-demo-video">
							<!-- this A tag is where your Flowplayer will be placed. it can be anywhere -->
							<a  
								 href="http://marketware.com.s3.amazonaws.com/videos/demo_recruiting.mp4"  
								 style="display:block;width:800px;height:600px"
								 id="player"> 
							</a>
							</div>
						</div>
						<!-- this will install flowplayer inside previous A- tag. -->
						<script>
							flowplayer("player", "/flowplayer-3.2.2.swf");
						</script>
					</div>

				</div>
		
				<div class="product-calls-to-action grid_5 omega">
					<div id="slideshow" class="testimonials wide">
						<ul>
							<%= render :partial => 'shared/testimonials' %>
						</ul>
					</div>

					<div class="product-call-to-action-buttons">
						<%= mail_to "sales@marketware.com", "<span>Request Web Demo</span>", {:subject => "I'd like to request a MarketWare web demo", :class => "btn-orange"} %>
					
						<%= link_to "<span>Try it Free</span>", "#trial-register-form", :class => "btn-yellow register_user", :id => "try-it-free-btn" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="small-content-box grid_6 alpha">
	<div class="small-content-box-inset">
		<div class="margin-md">	
		  	<p>MarketWare’s Recruiting manages each phase in the physician recruiting process. Easily move a potential recruit through recruiting into physician relationship management.</p>
			<ul>
				<li>Maintains physician information</li>
				<li>Tracks every physician interaction</li>
				<li>Manages site visit preparation</li>
				<li>Supervises potential recruit issues</li>
				<li>Manages marketing campaigns</li>
				<li>Handles on-boarding and retention</li>
			</ul>

			<strong>MarketWare is being utilized in:</strong>
			<ul>
				<li>Hospitals</li>
				<li>Medical Imaging Centers</li>
				<li>Specialty Medical Groups</li>
				<li>Labs</li>
			</ul>
		</div>
	</div>
</div>

<div class="boxless-content grid_6 omega">
	<div class="margin-md">	
		<%= render :partial => 'shared/white_papers' %>

	</div>
</div>
