<% content_for :header do %>
	<%= stylesheet_link_tag "jquery.fancybox-1.3.1", "product", :cache => true %>
	
	<%= javascript_include_tag "flowplayer-3.2.2.min", :cache => true %>
	<%= javascript_include_tag "jquery.fancybox-1.3.1", 'product', "easySlider1.7" %>
	
	<script type="text/javascript">
		var current_user = <%= !session["current_username"].nil? %>;
		
		$(function() {
			$("#try-it-free-btn").click(function() {
				download_btn_click(
					"Marketware Free Trial", 
					"http://marketware.com.s3.amazonaws.com/files/marketware_setup.exe", 
					"free_trial")
			});
		})
	</script>
<% end -%>

<div class="page-header">
	<h2 class="grid_4 alpha">Physician Recruiting</h2>
	
	<%= render :partial => 'nav' %>

</div>

<div style="display:none">
	<div id="demo-register-form" class="margin-md fancybox-content">
		<h5>Please enter your contact information:</h5>
		<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_relations", :response_type => "product_demo"} %>
		<p>To view the demo video, we ask that you provide your contact information so we can contact you to answer further questions.</p>
	</div>
</div>

<div style="display:none">
	<div id="trial-register-form" class="margin-md fancybox-content">
		<h5>Please enter your contact information.</h5>
		<p>We will contact you with instructions to download your trial of MarketWare.</p>
		<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_recruiting", :response_type => "product_demo"} %>
	</div>
</div>

<a id="thank_you_link" href="#thank_you" class="fancybox" style="display:none">&nbsp;</a>
<div style="display:none">
	<div id="thank_you" class="margin-md fancybox-content">
		<h5>Thank you.</h5>
		<p>One of our consultants will contact you to answer any questions you may have.</p>
	</div>
</div>

<div class="product-main content-box grid_12 alpha omega">
	<div class="content-box-inset">
		<div class='margin-md'>
			<div id="demo" class="product-content">
				<div class="product-demo grid_6 suffix_1 alpha">
					<%= image_tag "recruiting_masthead.jpg", :alt => "MarketWare Custom CRM Solutions" %>
					<!-- <p>
						MarketWare's Recruiting manages each step in  recruiting a physician. Have all the information required to provide a recruit the seamless transition into the organization.
					</p> -->
					<div class="product-call-to-action-buttons">
						<%= mail_to "sales@marketware.com", "<span>Request Web Demo</span>", {:subject => "I'd like to request a MarketWare web demo", :class => "btn-orange"} %>
					
						<%= link_to "<span>Try it Free</span>", "#trial-register-form", :class => "btn-yellow register_user", :id => "try-it-free-btn" %>
					</div>
				</div>
		
				<div class="product-calls-to-action grid_4 omega">
					<div id="demo-register-form" class="">
						<h5>Learn more about MarketWare's Physician Recruiting</h5>
						<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_relations", :response_type => "product_demo"} %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="small-content-box grid_8 alpha">
	<div class="small-content-box-inset">
		<div class="margin-md">
			<H5>Physician Recruiting</H5>
			<ul class="mktwr-list boxed-list right">
				<li>Sourcing</li>
				<li>Site Visit</li>
				<li>On-Boarding</li>
				<li>Retention </li>
			</ul>
		  	<p>MarketWare's Physician Recruiting takes a potential recruit through each phase in the recruiting process - sourcing, site visit, on-boarding, and retention.</p>

			<H6>Sourcing</H6>
			<%= image_tag "recruiting_physicians.jpg", :class => "img-left", :alt => "recruiting physicians" %>
			<p>Track the recruiting activities from the beginning of the sourcing process. Tag recruits, red flags, and other key information in the sourcing stage of the recruiting process.</p>

			<H6>Site Visit</H6>
			<p>The site visit is key to recruiting a physician. Using MarketWare you can make sure everything is managed and done right during the site visit. Track expenses and travel information and have everything ready for a salary offer.</p>

		<H6>On-Boarding and Retention</H6>
		<%= image_tag "physician_recruits.jpg", :class => "img-right" %>
		<p>Each Recruiter has a unique processes to on-board and recruit physicians. MarketWare's ability to be customized allows a Recruiter to define their unique on-boarding process. This process can be tailored and customized right into the software.</p>

		<H6>Practice Recruiting Opportunities</H6>
		<p>Affiliated physician practices often need a Recruiter's or a Liaison's help to find new associates to hire. Through MarketWare, a Recruiter or a Liaison can help guide a physician in hiring new associates.</p>

		<H6>Recruiting Issues</H6>
		<%= image_tag "physician_recruiting_issues.png", :class => "img-left", :alt => "physician segmenting" %>
		<p>There are always issues to be managed during the recruiting of a physician. Through MarketWare, Physician Recruiters can streamline potential recruit's issues and make sure no issue falls through the cracks</p>
		
			<%= mail_to "sales@marketware.com", "Request a Quote...", {:subject => "I'd like a quote on MarketWare's services"} %>
		</div>
	</div>
</div>

<div class="boxless-content grid_4 omega">
	<div class="margin-md">
	<div id="slideshow" class="testimonials">
		<ul>
			<%= render :partial => 'shared/testimonials' %>
		</ul>
	</div>
	</div>
	<div class="margin-md">	
		<%= render :partial => 'shared/white_papers' %>

	</div>
	<div class="margin-md">
		<H3>Interesting Articles</H3>
		<ul>
			<li><%= link_to "Four Innovative Ways to Market Physicians","http://www.marketwarecrm.com/files/TheFourInnovativeWays%20toMarket%20Physicians.pdf" %></li>
               		<li><%= link_to "Creating Referrals through Credibility","http://www.marketwarecrm.com/files/creatingcredibility.pdf" %></li>
               		<li><%= link_to "Establishing Physician Loyalty","http://www.marketwarecrm.com/files/EstablishingPhysicianRelationsTrust.pdf" %></li>
			<li><%= link_to "Physician Relations Strategies Blog","http://www.physicianrelationshipsc.com." %></li>
		</ul>
	</div>
</div>
