<% content_for :header do %>
	<%= stylesheet_link_tag "product" %>
	
	<%= javascript_include_tag 'jquery.media', 'product', 'easySlider1.7' %>
	<script type="text/javascript">
		$(function() {	
			//Make slideshow out of testimonials
			if ($("#slideshow")) {
				$("#slideshow").easySlider();
			}
			
			
		})		
	</script>
<% end -%>


<div class="page-header">
	<h2 class="grid_4 alpha">Physician Relations</h2>
	
	<div class="nav grid_8 omega">
		<%= link_to "Product Demo",		{:controller => :physician_recruiting} %> |
		<%= link_to "Customize It", 	{:controller => :physician_recruiting, :action => :customize} %> |
		<%= link_to "Reporting",		{:controller => :physician_recruiting, :action => :reporting} %> |
		<%= link_to "Technical Specs",	{:controller => :physician_recruiting, :action => :tech_specs} %>
	</div>
</div>

<div class="product-main content-box grid_12 alpha omega">
	<div class="content-box-inset">
	<div class='margin-md'>	
			<h6>System Requirements &amp; Security</h6>
		<div class="grid_6 alphaa">
<p>			Built on the latest industry standard Microsoft Technology, MarketWare uses Microsoft&rsquo;s SQL Server Database engine that provides the reliability and security that is expected in Healthcare and Financial institutions around the globe.</p>
			<strong>Server Requirements</strong>
			<ul>
				<li>Hardware: IBM-compatible computer, Pentium IV, 1.6 GHz or better, VGA or better Screen. </li>
				<li>Memory: 2 GB or greater </li>
				<li>Hard Disk: Approximately 1.5 MB per 1000 data records </li>
				<li>Operating System: Windows 2000, 2003, 2008 or higher. </li>
				<li>Microsoft SQL Server: Version 2005, 2008 or greater </li>
			</ul>

			<strong>Client Requirements</strong><br />
			<ul>
			<li>Hardware: IBM-compatible computer, Pentium IV, 1.6Ghz or better, SVGA or better </li>
			<li>Screen display (1024x768 minimum required)</li>
			<li>Memory: 512 MB or greater</li>
			<li>Hard Disk: 40 MB or more of free disk space on hard drive for client software, dictionaries, etc. </li>
			<li>Operating System: Windows 2000, XP, Vista, 7 or higher.</li>
			</ul>
		</div>
		<div class="grid_5 omega">
			<p>MarketWare supports the use of SQL or Window Active Directory logins to keep MarketWare Secure.</p>
			<ul>
				<li>Grant or Deny Access for Any User to Add, Edit, Delete or View based on:</li>
				<li>Table</li>
				<li>Field within a Table</li>
				<li>Data Screen</li>
				<li>Ownership of Record</li>
			</ul>
		</div>
	</div>
	</div>
</div>

<div class="small-content-box grid_6 alpha">
	<div class="margin-md">	
		<div id="slideshow" class="testimonials wide">
			<ul>
				<%= render :partial => 'shared/testimonials' %>
			</ul>
		</div>
	</div>
</div>
<div class="boxless-content grid_6 omega">
	<div class="margin-md">	
		<%= render :partial => 'shared/white_papers' %>
	</div>
</div>
