<% @page_title = "Physician Relationship Management, Physician Relations CRM, Patient Referral Growth, Physician Segmenting, MarketWare Systems" %>

<% content_for :meta_tags do %>
<meta name="Description" content="Physician Relationship Management for healthcare organizations. Increase physician referrals though detailed referral information and physician issue resolution, proven best practices. Learn more about MarketWare’s Physician Relations CRM" />

<meta name="Keywords" content= "Physician Relationship Management, Physician Relations CRM, Patient Referral Growth, Physician Segmenting,  Physician Liaisons, Strategic Marketing Campaign, PRM, Providers, Provider Relations, Customer Relationship Management, Physician Marketing, Physician Referrals, Marketing to Doctors" />
<% end %>
<% content_for :header do %>
	<%= stylesheet_link_tag "jquery.fancybox-1.3.1", "product", :cache => true %>
	
	<%= javascript_include_tag "flowplayer-3.2.2.min", :cache => true %>
	<%= javascript_include_tag "jquery.fancybox-1.3.1", 'product', "easySlider1.7" %>
	
	<script type="text/javascript">
		var current_user = <%= !session["current_username"].nil? %>;
		
		$(function() {
			$("#try-it-free-btn").click(function() {
				download_btn_click(
					"Marketware Free Trial", 
					"http://marketware.com.s3.amazonaws.com/files/marketware_setup.exe", 
					"free_trial")
			});
		})
	</script>
<% end -%>

<div class="page-header">
	<h2 class="grid_4 alpha">Physician Relations CRM</h2>
	
	<%= render :partial => 'nav' %>

</div>

<div style="display:none">
	<div id="demo-register-form" class="margin-md fancybox-content">
		<h5>Please enter your contact information:</h5>
		<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_relations", :response_type => "product_demo"} %>
		<p>To view the demo video, we ask that you provide your contact information so we can contact you to answer further questions.</p>
	</div>
</div>

<div style="display:none">
	<div id="trial-register-form" class="margin-md fancybox-content">
		<h5>Please enter your contact information.</h5>
		<p>We will contact you with instructions to download your trial of MarketWare.</p>
		<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_relations", :response_type => "try_it_free"} %>
	</div>
</div>

<a id="thank_you_link" href="#thank_you" class="fancybox" style="display:none">&nbsp;</a>
<div style="display:none">
	<div id="thank_you" class="margin-md fancybox-content">
		<h5>Thank you.</h5>
		<p>One of our consultants will contact you to answer any questions you may have.</p>
	</div>
</div>

<div class="product-main content-box grid_12 alpha omega">
	<div class="content-box-inset">
		<div class='margin-md'>
			<div id="demo" class="product-content">
				<div class="product-demo grid_6 suffix_1 alpha">
					<object width="512px" height="288px" id="qgiaDriveS3Player"><param name="wmode" value="transparent"></param><param name="movie" value="http://qgiadrive.us.s3.amazonaws.com/player/player020.swf"></param><param name="quality" value="high"></param><param name="bgcolor" value="#FF6600"></param><param name="allowscriptaccess" value="always"></param><param name="swliveconnect" value="true"></param><param name="allowfullscreen" value="false"></param><param name="flashvars" value="id=qgiaDriveS3Player&lzproxied=false&enableGeoIP=false&rid=qgia&cid=MarketWare&pid=Marketware Homepage&affiliateId="></param><embed id="qgiaDriveS3Player" width="512px" height="288px" flashvars="id=qgiaDriveS3Player&lzproxied=false&enableGeoIP=false&rid=qgia&cid=MarketWare&pid=Marketware Homepage&affiliateId=" allowfullscreen="false" allowscriptaccess="always" wmode="transparent" name="qgiaDriveS3Player" swliveconnect="true" quality="high" bgcolor="#FF6600" style="" src="http://qgiadrive.us.s3.amazonaws.com/player/player020.swf" type="application/x-shockwave-flash"></embed></object>
					<div class="product-call-to-action-buttons">
						<%= mail_to "sales@marketware.com", "<span>Request Web Demo</span>", {:subject => "I'd like to request a MarketWare web demo", :class => "btn-orange"} %>
					
						<%= link_to "<span>Try it Free</span>", "#trial-register-form", :class => "btn-yellow register_user", :id => "try-it-free-btn" %>
					</div>
				</div>
		
				<div class="product-calls-to-action grid_4 omega">
					<div id="demo-register-form" class="">
						<h5>Learn more about MarketWare's Physician Relations CRM:</h5>
						<%= render :partial => "shared/user_form", :object => User.new, :locals => {:product => "physician_relations", :response_type => "product_demo"} %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="small-content-box grid_8 alpha">
	<div class="small-content-box-inset">
		<div class="margin-md">
		  	<H2>MarketWare’s Physician Relations CRM </H2>
			<%= image_tag "physician_liaisons.jpg", :class => "img-left" %>
			<ul class="mktwr_list boxed-list right">
				<li>Identify Referral Opportunities</li>
				<li>Red Flag Physicians</li>
				<li>Physician Issue Resolution</li>
				<li>Microsoft Outlook/ Mobile integration</li>
			</ul>
			<p>MarketWare's Physician Relations CRM is the complete physician relationship management database. Manage all the key areas of Physician Relations: Physician Demographics, Liaison visits, Referral Statistics, Physician Issues, Marketing Campaigns, Physician Segments, and much more.</p>

			<H6>Identify Referral Opportunities </H6>
			<%= image_tag "physician_referral_growth.png", :class => "img-right", :alt => "physician referral growth" %>
			<p>Knowing the Return on Investment of a Physician Relations program is central to every healthcare organization. MarketWare's Physician Relations CRM can become the GPS for a hospital or a clinic through tracking physician referral statistics and trends. MarketWare shows the ROI of every referral intuitive!</p>
			
			<H6>Red Flag Physicians</H6>
			<p>Quickly see physicians who are decreasing their referrals. Through MarketWare's ability to red flag physicians, Physician Liaisons and Physician Relations teams can identify and manage potential retention issues before they become problems.</p>

			<H6>Physician Issue Resolution</H6>
			<p>Effective management of physician issues is key to the success of Physician Relations. MarketWare's built-in Issue Management provides the tools, reports, and process to organize, delegate, and report on every physician issue. MarketWare's Issue Management makes sure no issue falls through the cracks.</p>
			
			<H6>Microsoft Outlook/ Mobile Integration</H6>
			<%= image_tag "physician_relationship_management.png", :class => "img-left", :alt => "physician relationship management" %>
			<p>Through a tight relationship with Microsoft Office®, MarketWare integrates directly with MS Outlook®. This enables Liaisons to auto populate Outlook® emails, letters, contacts, and calendaring. Also, have access to MarketWare through a mobile connection via free offline views, mobile phones, and the internet</p>

			<H6>Strategic Marketing Campaigns</H6>
			<p>Do your Physician Relations team have strategic marketing campaigns? Use MarketWare to manage a target market, and a type of marketing communication (visits, emails, letters). Then see the results of the marketing campaign.</p>

			<H6>Physician Segmenting</H6>
			<%= image_tag "physician_recruiting_issues.png", :class => "img-right", :alt => "physician segmenting" %>
			<p>Segment physicians by many different categories. There are dozens of Physician Relations specific segments including: referral volume or loyalty level, demographics (city, zip code, market area), attitude, or any other category (hospitalist users, CME attendees, etc)</p>
			
			<%= mail_to "sales@marketware.com", "Request a Quote", {:subject => "I'd like a quote on MarketWare's services"} %> <!--| mailto link to info@marketware.com subject: Quote Request -->
			|
			<%= link_to "Customize It", 	{:controller => :physician_relations, :action => :customize} %>
			|
			<%= link_to "Reporting",		{:controller => :physician_relations, :action => :reporting} %>

		</div>
	</div>
</div>

<div class="boxless-content grid_4 omega">
	<div class="margin-md">
	<div id="slideshow" class="testimonials">
		<ul>
			<%= render :partial => 'shared/testimonials' %>
		</ul>
	</div>
	<div>
		<H3><strong>Interesting Articles</strong></H3>
		<ul>
			<li><%= link_to "Four Innovative Ways to Market Physicians","http://www.marketwarecrm.com/files/TheFourInnovativeWays%20toMarket%20Physicians.pdf" %></li>

               		<li><%= link_to "Creating Referrals through Credibility","http://www.marketwarecrm.com/files/creatingcredibility.pdf" %></li>

               		<li><%= link_to "Establishing Physician Loyalty","http://www.marketwarecrm.com/files/EstablishingPhysicianRelationsTrust.pdf" %></li>

		</ul>
	</div>
	</div>
	<div class="margin-md">	
		<%= render :partial => 'shared/white_papers' %>

	</div>
</div>
