<% content_for :header do %>
	<%= stylesheet_link_tag "product" %>
	
	<%= javascript_include_tag 'jquery.media', 'product', 'easySlider1.7' %>
	<script type="text/javascript">
		$(function() {	
			//Make slideshow out of testimonials
			if ($("#slideshow")) {
				$("#slideshow").easySlider();
			}
			
			
		})		
	</script>
<% end -%>


<div class="page-header">
	<h2 class="grid_4 alpha">Physician Relations</h2>
	
	<%= render :partial => 'nav' %>
	
</div>

<div class="product-main content-box grid_12 alpha omega">
	<div class="content-box-inset">
		<div class='margin-md'>
			<div class="grid_6 alphaa">
				<h6>Reporting Capabilities</h6>
				<p>Run reports that speak to you and your organization. Find out what physician liaison’s activities are most effective. Learn statistical trends and how long it takes to resolve physician issues.</p>
				<p>Reports include: Group/Provider Profile Reports, Call Reports, Issues Reports, Statistical Activity Reports, Expense Reports, and much more.</p>
				<p>The Built-in Report Designer allows you to group, categorize, sort and display any information contained in your database.</p>
			
				<h6>Exporting</h6>
				<p>Export reports to PDF, Excel, Word, or directly to your Printer.</p>
			</div>
			<div class="grid_5 omega">
				<%= image_tag "report.png" %>
			</div>
		</div>
	</div>
</div>

<div class="small-content-box grid_6 alpha">
	<div class="margin-md">	
		<div id="slideshow" class="testimonials wide">
			<ul>
				<%= render :partial => 'shared/testimonials' %>
			</ul>
		</div>
	</div>
</div>
<div class="boxless-content grid_6 omega">
	<div class="margin-md">	
		<%= render :partial => 'shared/white_papers' %>
	</div>
</div>
