<!DOCTYPE html>

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>MarketWare: Physician Relationship Management</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<%= stylesheet_link_tag "reset", "text", "960", "main", :cash => true %>
	
	<%= javascript_include_tag 'jquery-1.3.2.min', 'jrails', :cash => true %>
	
	<%= javascript_include_tag "application" %>
	
	<%= yield :header %>
	
	<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	
	
</head>
<body>
	<div class="container_12 clearfix">
		<%= yield(:notice) %>
		<header id="site-header" class="grid_12 alpha omega">
			<div class="grid_6 alpha">
				<h1><%= link_to "MarketWare", root_path %></h1>
			</div>
			<div class="sub-nav grid_6 omega right-align">
				<%= link_to "Join a Meeting", "http://joingotomeeting.com" %> |
				<%= mail_to "sales@marketware.com", "Speak to a Consultant", {:subject => "I'd like to speak to a MarketWare Consultant"} %> | <!-- mailto link to info@marketware.com subject: request for information -->
				<%= mail_to "request@marketware.com", "Request a Quote", {:subject => "I'd like a quote on MarketWare's services"} %> |<!-- mailto link to info@marketware.com subject: Quote Request -->
				<%= link_to "Clients", clients_path %>
			</div>
		
			<nav id="site-nav" class="grid_12 alpha omega">
				<%= link_to "Home", root_path %>
				<%= link_to "Physician Relations", physician_relations_path %>
				<%= link_to "Physician Recruiting", physician_recruiting_path %>
				<%= link_to "Custom CRM", custom_crm_path %>
				<%= link_to "About Us", about_us_path %>
				<span class="phone-number">1-800-777-6368</span>
			</nav>
		</header>
		
		<div id="flash_notice" class="flash-notice grid_12 alpha omega">
			<% if flash[:notice] %>
				<p><%= flash[:notice] %></p>
			<% end -%>
		</div>
		
		<div id="flash_error" class="flash-error grid_12 alpha omega">
			<% if flash[:error] %>
				<p><%= flash[:error] %></p>
			<% end -%>
		</div>
		
		<div id="body" class="grid_12 alpha omega">
			<%= yield(:content) or yield %>
		</div>
		
		<section id="super-footer" class="prefix_1 suffix_1 grid_10 alpha omega">
		
			<div class="grid_5 alpha">
				<p>For over 24 years MarketWare has worked with companies to design and develop customized CRM software. More than just customized software. Certified MarketWare Consultants work with you to design a CRM software system to fit your exact needs.</p>

				<p class="small">Custom demographic fields, reports, statistical screens, maps, mail merge, offline views, and querying tools allow each MarketWare user to design the software to fit their needs. By having completely customized software you can take advantage MarketWare CRM than any other CRM on the market.</p>
			</div>
		
			<div id="footer-logo" class="grid_5 omega">
				<%= link_to "marketware", root_path %>
			</div>
		
			<div id="footer-nav" class="grid_10 alpha omega">
				<nav class="grid_3 alpha">
					<h6>Physician Relations</h6>
					<%= link_to "Product Demo",		{:controller => :physician_relations} %>
					<%= link_to "Customize It", 	{:controller => :physician_relations, :action => :customize} %>
					<%= link_to "Reporting",		{:controller => :physician_relations, :action => :reporting} %>
					<%= link_to "Technical Specs",	{:controller => :physician_relations, :action => :tech_specs} %>	
				</nav>
				<nav class="grid_3">
					<h6>Physician Recruiting</h6>
					<%= link_to "Product Demo",		{:controller => :physician_recruiting} %>
					<%= link_to "Customize It", 	{:controller => :physician_recruiting, :action => :customize} %>
					<%= link_to "Reporting",		{:controller => :physician_recruiting, :action => :reporting} %>
					<%= link_to "Technical Specs",	{:controller => :physician_recruiting, :action => :tech_specs} %>
				</nav>
				<nav class="grid_3 omega">
					<h6>Fully Customized CRM</h6>
					<%= link_to "Product Demo",		{:controller => :custom_crm} %>
					<%= link_to "Customize It", 	{:controller => :custom_crm, :action => :customize} %>
					<%= link_to "Reporting",		{:controller => :custom_crm, :action => :reporting} %>
					<%= link_to "Technical Specs",	{:controller => :custom_crm, :action => :tech_specs} %>
				</nav>
			</div>
			
			<footer class="grid_12 alpha omega">
				<nav>
					<%= link_to "About Us", about_us_path %> |
					<%= link_to "Contact Us", contact_path %> |
					<%= link_to "Privacy Statement", about_privacy_path %> |
					<%= link_to "Clients", clients_path %> |
					<%= link_to "Testimonials", testimonials_path %>
				</nav>
				&copy; 1986&mdash;2010 MarketWare Systems, LLC All Rights Reserved
			</footer>
		</section>
	</div>
	<div id="video-backdrop">&nbsp;</div>
</body>
</html>
